<h2>Registration</h2>

<form  method="POST" action="/user/register">
<label for="name">Name</label>
    <input name="name" type="text" placeholder="Enter your name">

    <label for="age">Age</label>
    <input name="age" type="number">

    <input type="submit" value="Register">
</form>